# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/
.claude

# Python
__pycache__/
*.pyc
*.egg-info/
.venv/
.pytest_cache/

# Environment
.env